@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,700,900');

.container {
    margin: 0 auto;
    width: 960px;
}

h1, .navbar, .emtpry {
    margin-top: 3rem;
}

h1, .empty {
    font-family: "Playfair Display";
    text-align: center;
}

.navbar-brand {
    font-family: "Playfair Display";
    font-weight: 700;
    font-size: 30px;
}

.nav-item {
    padding-top: 5px;
}

.mb-3{
    margin-top: 3rem!important;
    width: 70%!important;
    margin-bottom: 5rem!important;
}

.card {
    width: 50%;
    margin: auto;
}

section.cards {
    margin-bottom: 5rem;
}

.card-title, .form-group button, .mb-12 {
    margin-top: 2rem;
}

.title-head, .card-body {
    margin: 0 auto;
    text-align: center;
}

.title-head a, .addproduct-form, h1 {
    margin: 3rem;

}

.addproduct-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.form-group {
    margin: auto;
    text-align: center;
    width: 70%;
}

.form-group label {
    margin-top: 20px;
}
